:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --third-tite-color: #757575;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
}
