.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: inherit;
  }
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: inherit;
  }
}
