p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  display: block;
  min-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

// header {
//   display: none;
// }

// footer {
//   display: none;
// }

// header {
//   display: none;
// }

// section {
//   display: none;
// }

// .block {
//   display: block;
// }
